<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dynamic List</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="centered-div">
      <div class="quantity-div">
        <h1>Quantity</h1>
        <input type="number" id="quantity" placeholder="Type here" />
      </div>
    </div>
    <ul id="item-list"></ul>
    <script src="/script.js"></script>
    <div class="square-div1" id="OBJ1">OBJ1</div>
    <div class="square-div3" id="OBJ2">OBJ3</div>
  </body>
</html>
